<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>

    <form action="/api/auth/adduser" method="post">
  <fieldset>
    <legend>Add User</legend>
    <div class="row">
      <div class="form-floating mb-3">
    <input type="text" class="form-control" name="username" placeholder="User Name">
    <label for="floatingUserName">User Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="firstName" placeholder="First Name">
    <label for="floatingFirstName">First Name</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" name="lastName" placeholder="Last Name">
    <label for="floatingLastName">Last Name</label>
  </div>
  <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="manager">
        <label class="form-check-label" for="flexSwitchCheckDefault">Managment?</label>
      </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="email" placeholder="Email@Address.com">
    <label for="floatingUserName">Email</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off">
    <label for="floatingPassword">Password</label>
  </div>
    </div>
    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
  </form>
  
  <!--<strong>Heads up!</strong> <a href="/">Log In Here.</a>-->

        


<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>