<!DOCTYPE html>
<html lang="en">
{{> header}}


    <form action="/api/auth/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <div class="row">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="username" placeholder="User Name">
    <label for="floatingUserName">User Name</label>
  </div>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off">
    <label for="floatingPassword">Password</label>
  </div>

    </div>
    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
  </form>
  
  <!--<strong>Heads up!</strong> <a href="/api/auth">Sign Up Here.</a>-->



<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>