<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
    href="/assets/vendor/bootswatch/dist/vapor/bootstrap.min.css">
    <title>Login</title>
    
</head>
<body>

        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sociazilla</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/auth">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


    <form action="/api/auth/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <div class="row">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="username" placeholder="User Name">
    <label for="floatingUserName">User Name</label>
  </div>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off">
    <label for="floatingPassword">Password</label>
  </div>

    </div>
    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
  </form>
  
  <strong>Heads up!</strong> <a href="/api/auth">Sign Up Here.</a>



<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>